.powerPointExample{
  margin: 10px;
  background: url("../../assets/img.png" )
  no-repeat;
  background-position: center;
  width: 700px;
  height: 500px;
  background-size:100% 100%;
  .titleSize{
    position: relative;
    left: 170px;
    top: 60px;
  };
  .axisNum{
    width: 200px;
    position: relative;
    left: -150px;
    top: 425px;
  }
  .axisTitle{
    width: 150px;
    position: relative;
    left: 60px;
    top: 415px;
  }
  .legendFont{
    width: 130px;
    position: relative;
    left: 60px;
    top: 92px;
  }
  .chartWidth{
    width: 130px;
    position: relative;
    left: 710px;
    top: -20px;
  }
  .chartHeight{
    width: 140px;
    position: relative;
    left: 580px;
    top: 20px;
  }
  .chartX{
    width: 180px;
    position: relative;
    left: 440px;
    top: 60px;
  }
  .chartY{
    width: 180px;
    position: relative;
    left: 260px;
    top: 100px;
  }

}
.downloadCompact{
  margin-left: 10px;
}